# Temp & IDE files
.vscode/
*~
*.swp
*.swo
.idea

# Packaging
*.tar.gz
*.tgz
package/

# Secret files
.env
.etherscanKey
.infuraKey
.mythxKey
.secret
.env

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json

# Crytic
crytic-export/

# VsCodeCounter
.VsCodeCounter/

# Foundry
out/