[submodule "lib/yield-utils-v2"]
	path = lib/yield-utils-v2
	url = https://github.com/yieldprotocol/yield-utils-v2
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
