# Temp & IDE files
.vscode/
*~
*.swp
*.swo

# Packaging
*.tar.gz
*.tgz
package/

# Buidler files
cache
artifacts
node_modules/
abi/
output/
typechain/
deployments/

# Secret files
.env
.etherscanKey
.infuraKey
.mythxKey
.secret
build/

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json

# Yarn
yarn-error.log

# NPM
package-lock.json

# Crytic
crytic-export/

# Typescript
dist/

# Foundry
foundry/out/
forge-cache
out/